@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply text-white bg-[#242424] font-normal;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  @apply bg-[#1f1f1f] min-h-[100vh] flex flex-row text-white;
}

h1 {
  @apply text-3xl font-bold;
}

h2 {
  @apply text-2xl font-bold;
}

h1 {
  @apply text-xl font-bold;
}

hr {
  @apply border-[#fff] border-t-[1px];
}
